/* Variables */
:root {
    --footer-color: rgb(192, 204, 206);
}

/* Polices */
@font-face {
    font-family: Geo;
    src: url(polices/SciFly-Sans.ttf);

}

/* Le reste */
html {
    scrollbar-width: none;
}


body {

    font-family: Geo;
    font-size: medium;
    background-color: rgb(238, 241, 241);
    color: rgb(53, 57, 61);
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;

    .code-style {
        font-family: 'Courier New', Courier, monospace;
        color: rgb(97, 96, 96);
    }

    /* Listes */
    ol, ul {
        margin: 0 12vw;
        padding-inline-start: 0;
        list-style-position: inside;
        
        li {
            padding: 1vh 1vw;
        }
    }

    ul {
        list-style-type: "🍋‍🟩";
    }

    ol > li::marker {
        font-weight: bold;
        color: #688fa1;
    }

    /* Les images de fond, animées */
    & .background {
        width: 100%;
        z-index: -1000;
        position: fixed;
    }

    & #background-1 {
        animation: background-zoom-1 17s infinite;
        animation-delay: 2s;
    }
    
    & #background-2 {
        animation: background-zoom-2 15s infinite;
        animation-delay: 1s;
        filter: opacity(0.5);
    }

    & #background-3 {
        animation: background-zoom-3 11s infinite;
        filter: blur(1px);
    }

    /* Header */
    & header {
        display: flex;
        place-content: center;
        
        & #title {
            animation: slow_blow 10s;
            min-width: 300px;
            width: 30vw;  
        }

    }

    /* Menu */
    & nav {
        display: flex;
        place-content: center;
        
        & ul {
            display: flex;
            flex-direction: row;
            padding: 0%;
            
            & li {
                padding: 2vh 4vw;
                list-style-type:none;
                
                & button {
                    font-family: Geo;
                    font-size: large;
                    font-weight: bold;
                    color: rgb(53, 57, 61);
                    border: none;

                    &:hover {
                        color: rgb(51, 92, 105);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    /* Contenu principal */
    & main {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 14vw;

        a {
            font-weight: bold;
            color: #831eff;
        }

        .whiteBg {
            padding: 5vh 0;
            margin: 5vh 0;
            background-color: rgba(238, 241, 241, 0.7);
            /* backdrop-filter: blur(3px) brightness(1.03); */
            border-radius: 20px;
        }
        
        section {
            p {
                margin: 2vh 10vw;
            }
        }
        
        /* La gallerie d'artworks  */
        & #gallery {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            margin: 5vh auto;

            /* Pour chaque artwork, individuellement */
            & .artwork {
                width: 20vw;
                min-width: 250px;
                height: 20vw;
                min-height: 250px;
                object-fit: cover;
                margin: 2vh 1vw;
                transition: 0.5s;
                border-radius: 5px;
            }

            & .artwork:hover {
                z-index: 100;
                filter: contrast(1.1);
                box-shadow: 0 0 100px rgba(53, 62, 63, 0.552);
                cursor: pointer;
            }
        }

        /* Le modal prend toute la taille de l'écran et permet le défilement */
        .modal {
            display: none;
            position: fixed;
            z-index: 101; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto;
            scrollbar-width: none;
        }
        
        /* Conteneur pour l'image dans le modal */
        .modal-content {
            object-position: center top;
            max-width: 100%; 
            max-height: 100%; 
            object-fit: cover; 
            display: block;
            position: relative;
            animation-name: zoom;
            animation-duration: 0.8s;
        }

        /* Description fixe en bas de l'écran */
        .caption {
            position: fixed;
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;
            color: #ffffff;
            z-index: 102;
        }

        /* Bouton de fermeture fixe en haut à droite */
        .close {
            position: fixed;
            top: 15px;
            right: 35px;
            color: white;
            font-size: 50px;
            text-shadow: 0 0 10px #ffffff;
            z-index: 103;

            &:hover {
                transition: 0.4s;
                text-shadow: 0 0 12px #ffffff, 0 0 24px #ffffff, 0 0 20px #ffffff;
                cursor: pointer;
            }
        }

    }

    /* Pied-de-page */
    & footer {
        background-color: var(--footer-color);
        padding: 0;
        position: relative;
        bottom: 0;
        width: 100%;   
        margin-top: 5vh;     
        
        /* Le footer est divisé en deux div, l'une au-dessus de l'autre. */
        & >div {
            padding: 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to top, transparent, var(--footer-color)), url(images/2021_cloudy-sky-background.jpg);
            background-size: 100%;
            background-position: 0% 12%;

            /* Dans la première div, on a les trois parties côte-à-côte. */
            & div {
                justify-content: center;
                width: 20vw;
                padding: 0 4vw;
                text-align: center;
                display: flex;
                flex-direction: column;

                & div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
                    padding: 0%;
                }
            }
        }

        /* La seconde div du footer contient les copyrights. */
        #copyrights {
            padding: 0;
            color: white;
            background: rgb(94, 99, 158);
            font-size: 12px;
        }

    }

    .icon {
        width: 20px;
        margin: 0 5px;
    }

    .citation {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        color: #831eff;
    }

    a {
        color: rgb(53, 57, 61);
        text-decoration: none;
        transition: 0.1s ease-in-out;
    }
    
    a:hover {
        transform: scale(1.1);
        transition: ease-in-out 0.2s;
    }

    ::selection {
        background-color: #831eff0a;
        filter: blur(2px);
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px rgb(255, 0, 0), -1px -1px 1px rgb(0, 255, 255);
    }
    
    ::-moz-selection {
        background-color: rgba(238, 219, 219, 0.579);
        text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.4), -1px -1px 1px rgba(0, 255, 255, 0.4);
    }
}


@keyframes slow_blow {
    0% {transform: scale(0.8);}
    20% {transform: scale(0.9);}
    100% {transform: scale(1);}
}

@keyframes zoom {
    0% {transform:scale(0.4);}
    100% {transform:scale(1);}
}

@keyframes background-zoom-1 {
    0% {transform: scale(1) translateX(0px);}
    20% {transform: scale(1.1) translateX(40px);}
    90%{filter: blur(1px);}
    100% {transform: scale(1) translateX(0px);}
}

@keyframes background-zoom-2 {
    0% {transform: scale(1) translateX(0px);}
    10%{filter: blur(1px);}
    20% {transform: scale(1.1) translateX(-100px);}
    30%{filter: blur(0px);}
    100% {transform: scale(1) translateX(0px);}
}

@keyframes background-zoom-3 {
    0% {transform: scale(1) translateX(0px);}
    20% {transform: scale(1.1) translateZ(60px);}
    40% {filter: brightness(2);}
    100% {transform: scale(1) translateX(0px);}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .overlay-content {
      width: 100%;
    }
}