/* Variables */
:root {
    --footer-color: rgb(192, 204, 206);
}

/* Polices */

@font-face {
    font-family: Geo;
    src: url(polices/SciFly-Sans.ttf);

}

/* Le reste */

html {
    scrollbar-width: none;
}


body {

    font-family: Geo;
    background-color: rgb(238, 241, 241);
    color: rgb(53, 57, 61);
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;

    /* L'image de fond */
    & #background {
        z-index: -1000;
        width: 100%;
        position: fixed;
        animation: wipe-enter 1s 1;
    }

    & header {
        display: flex;
        place-content: center;
        
        & #title {
            animation: slow_blow 10s;
            width: 30vw;  
        }

    }

    & nav {
        display: flex;
        place-content: center;
        
        & ul {
            display: flex;
            flex-direction: row;
            padding: 0%;
            
            & li {
                padding: 2vh 4vw;
                list-style-type:none;
                
                & button {
                    font-family: Geo;
                    font-size: large;
                    font-weight: bold;
                    color: rgb(53, 57, 61);
                    border: none;

                    &:hover {
                        color: rgb(51, 92, 105);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    & main {
        display: flex;
        flex-direction: column;
        text-align: center;
        
        /* La gallerie d'artworks  */
        & #gallery {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 70vw;
            margin: 5vh auto;

            /* Pour chaque artwork, individuellement */
            & .artwork {
                width: 20vw;
                height: 20vw;
                object-fit: cover;
                margin: 2vh 1vw;
                transition: 0.5s;
                border-radius: 5px;
            }

            & .artwork:hover {
                z-index: 100;
                filter: contrast(1.1);
                box-shadow: 0 0 100px rgba(53, 62, 63, 0.552);
                cursor: pointer;
            }
        }

        /* Le modal prend toute la taille de l'écran et permet le défilement */
        .modal {
            display: none; /* Caché par défaut */
            position: fixed; /* Reste en place */
            z-index: 101; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto;
            scrollbar-width: none;
        }

        /* Conteneur pour l'image dans le modal */
        .modal-content {
            width: 100%;
            min-width: 50%;
            margin: auto;
            animation-name: zoom;
            animation-duration: 0.8s;
        }

        /* Description fixe en bas de l'écran */
        .caption {
            position: fixed;
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;
            color: #ffffff;
            z-index: 102;
        }

        /* Bouton de fermeture fixe en haut à droite */
        .close {
            position: fixed;
            top: 15px;
            right: 35px;
            color: white;
            font-size: 50px;
            text-shadow: 0 0 10px #ffffff;
            z-index: 103;

            &:hover {
                transition: 0.4s;
                text-shadow: 0 0 12px #ffffff, 0 0 24px #ffffff, 0 0 20px #ffffff;
                cursor: pointer;
            }
        }

    }

    & footer {
        background-color: var(--footer-color);
        margin-top: 10vh;
        
        /* Le footer est divisé en deux div, l'une au-dessus de l'autre. */
        & >div {
            padding: 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to top, transparent, var(--footer-color)), url(images/2021_cloudy-sky-background.jpg);
            background-size: 100%;
            background-position: 0% 12%;

            /* Dans la première div, on a les trois parties côte-à-côte. */
            & div {
                justify-content: center;
                width: 20vw;
                padding: 0 4vw;
                text-align: center;
                display: flex;
                flex-direction: column;

                & div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
                    padding: 0%;
                }
            }
        }

        /* La seconde div du footer contient les copyrights. */
        #copyrights {
            padding: 0;
            color: white;
            background: rgb(94, 99, 158);
            font-size: 12px;
        }

    }

    .icon {
        width: 20px;
        margin: 0 5px;
    }

    .citation {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        color: #831eff;
    }

    a {
        color: rgb(53, 57, 61);
        text-decoration: none;
        transition: 0.1s ease-in-out;
    }
    
    a:hover {
        transform: scale(1.1);
        text-shadow: -2px 1px 1px rgba(255, 72, 108, 0.8), 1px -1px 1px rgba(0, 255, 255, 0.6);
    }

    ::selection {
        background-color: rgba(238, 219, 219, 0.315);
        text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.4), -1px -1px 1px rgba(0, 255, 255, 0.4);
    }
    
    ::-moz-selection {
        background-color: rgba(238, 219, 219, 0.579);
        text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.4), -1px -1px 1px rgba(0, 255, 255, 0.4);
    }
}



@keyframes slow_blow {
    0% {transform: scale(0.8);}
    20% {transform: scale(0.9);}
    100% {transform: scale(1);}
}

@keyframes zoom {
    0% {transform:scale(0.4);}
    100% {transform:scale(1);}
  }


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .overlay-content {
      width: 100%;
    }
}